[Unit]
Description=hubot sysadmin
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/hubot-sysadmin/
ExecStart=/home/pi/hubot-sysadmin/startup_script.sh

[Install]
WantedBy=multi-user.target
